[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/junimp
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/junimp
	label-Verified = -1..+1 group user/junimp
	push = group user/junimp
	read = group user/junimp
	rebase = group user/junimp
	removeReviewer = group user/junimp
	submit = group user/junimp
[access "refs/heads/*"]
	create = group user/junimp
	push = +force group user/junimp
	pushMerge = group user/junimp
	read = group user/junimp
[access "refs/tags/*"]
	push = group user/junimp
	push = +force group user/junimp
